<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30353862327-gb844n0v0hqf79hjeutb39sqlh2co0nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30353862327-gb844n0v0hqf79hjeutb39sqlh2co0nf</string>
	<key>GCM_SENDER_ID</key>
	<string>30353862327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App01.Microsoft-Hackathon-1</string>
	<key>PROJECT_ID</key>
	<string>mysecondproject-db358</string>
	<key>STORAGE_BUCKET</key>
	<string>mysecondproject-db358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:30353862327:ios:54a94e094e285d4a</string>
	<key>DATABASE_URL</key>
	<string>https://mysecondproject-db358.firebaseio.com</string>
</dict>
</plist>